body{font-family:"Pretendard Variable",Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;line-height:1.5}
blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,p,pre,ul{margin:0;padding:0}
ul{list-style:none}
button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}
input[type=text],textarea{width:100%}
button,input,textarea{border:1px solid gray}
button{padding:.75em 1em;border-radius:0;line-height:1;background-color:transparent}
iframe,img,object,svg,video{display:block;max-width:100%}
table{table-layout:fixed;width:100%}
[tabindex="-1"]{outline:0 !important}